<div class="face-snap-card" [ngClass]="{ snapped: snapped }">
  <p>{{ 0.467 | percent }}</p>
  <h2>{{ faceSnap.title | titlecase }}</h2>
  <img [src]="faceSnap.imgURL" [alt]="faceSnap.title" />

  <p>
    Mis en ligne le : {{ faceSnap.creatinDate | date: "d MMMM yyyy à HH:mm" }}
  </p>
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
  <p>
    <!-- Solution 1-->
    <button (click)="onClickSnap()">
      {{ snapped ? "Oops.. Unsnap" : "Oh Snap!" }}
    </button>

    <!-- Solutiuon OCR-->
    <button (click)="onSnap()">
      {{ buttonText }}
    </button>

    <span [ngStyle]="{ color: 'rgb(0,' + faceSnap.snaps + ',0)' }">
      👌{{ faceSnap.snaps }}</span
    >
  </p>
</div>
